.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.content {
  display: flex;
  flex-grow: 1;
  background-color: white; /* Fondo blanco */
}

.admin-content {
  max-width: 100%;
  display: flex;
  background-color: white; /* Fondo blanco */
}

.employee-content {
  display: flex;
  flex-grow: 1;
  background-color: white; /* Fondo blanco */
}
