.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.content {
  display: flex;
  flex-grow: 1;
}

.admin-content {
  display: flex;
  flex-grow: 1;
  background-color: green;
}
.employee-content {
  display: flex;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
}
