.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #4a90e2, #50e3c2);
}

.form {
  width: 100%;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 5rem;
  padding-inline: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-block: 5rem;
  align-items: center;
  gap: 2rem;
}
.form p {
  font-family: PatuaOne;
  font-size: 3rem;
  color: black;
}

.form input {
  width: 25rem;
  height: 2.5rem;
  padding-inline: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e3e3e3;
  color: black;
  font-family: Roboto;
}

.form button {
  width: 5rem;
  height: 2rem;
  margin: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: #4a90e2;
  color: white;
  font-weight: 500;
}
.form img {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  padding-left: 0.5rem;
}

.input-container {
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 1rem;
}
.password {
  color: black;
  display: flex;
  cursor: pointer;
}
