.historial-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    overflow-y: hidden; /* Opcional: desactiva el desplazamiento vertical si no es necesario */
    white-space: nowrap; /* Evita el ajuste de línea */

  }
  
  .historial-tarjeta {
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom : 20px;
    border: 1px solid #ddd;
  }
  
  .historial-titulo {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .empleado-info {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Alinea verticalmente */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    padding: 10px 20px;
    font-family: roboto;
    padding-right: 20px;
  }
  
  .etiqueta {
    font-size: 18px;
    font-weight: bold;
    color: #000000;

  }

  .etiqueta-nombre{
    font-size: 18px;
    padding-right: 30px;

  }

  .semana-actual{
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negritas */
    color: #2f80ed;
  }
  
  .filtros-container {
    display: flex; /* Activa el diseño flexbox */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espacio entre los botones */
    margin-bottom: 20px; /* Espacio debajo del contenedor */
  }
  
  
  .tabla-container {
    width: 85%;
    padding: 70px;
  }
  
  .tabla-asistencias {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tabla-asistencias th {
    background: #2f80ed;
    color: rgb(0, 0, 0);
    padding: 14px;
    font-size: 18px;
    text-align: center;
  }
  
  .tabla-header{
    font-family: patua;
    font-weight: bold;
    padding: 12px;
    font-size: 17px;
    border-bottom: 2px solid #ddd;
    text-align: center;
  }

  .tabla-contenido {
    font-family: roboto;
    text-align: center;
    padding: 8px;
  }
  
  .sin-registros {
    text-align: center;
    font-size: 16px;
    color: #ff2f2f;
  }
  
  .total-horas {
    margin-top: 20px;
    padding: 15px;
    background: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .total-horas span {
    background: #2f80ed;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
  }
  
  .filtro-mes, .filtro-semana {
    background-color: #50E3C2; /* Color similar al botón de la imagen */
    color: rgb(0, 0, 0); /* Texto en blanco */
    font-weight: bold;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    appearance: none; /* Quita el estilo por defecto en algunos navegadores */
    text-align: center;
  }
  
  /* Efecto hover */
  .filtro-mes:hover, .filtro-semana:hover {
    background-color: #14a58c; /* Color más oscuro al pasar el mouse */
  }
  
  /* Estilo cuando se selecciona */
  .filtro-mes:focus, .filtro-semana:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  